[submodule "hugo_site/themes/ananke"]
	path = hugo_site/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "hugo_site/quickstart/themes/ananke"]
	path = hugo_site/quickstart/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "homepage_source/homepage_source/themes/introduction"]
	path = homepage_source/homepage_source/themes/introduction
	url = https://github.com/victoriadotdev/hugo-theme-introduction.git
[submodule "homepage_source/themes/casper-two"]
	path = homepage_source/themes/casper-two
	url = https://github.com/eueung/hugo-casper-two.git
[submodule "landing_hero/themes/hugo-hero-theme"]
	path = landing_hero/themes/hugo-hero-theme
	url = https://github.com/jugglerx/hugo-hero-theme.git
[submodule "landing_yourfolio/themes/casper-two"]
	path = landing_yourfolio/themes/casper-two
	url = https://github.com/serg/yourfolio.git
[submodule "landing_yourfolio/themes/yourfolio"]
	path = landing_yourfolio/themes/yourfolio
	url = https://github.com/serg/yourfolio.git
[submodule "landing_resume/themes/resume"]
	path = landing_resume/themes/resume
	url = https://github.com/eddiewebb/hugo-resume.git
[submodule "landing_creative/themes/creative"]
	path = landing_creative/themes/creative
	url = https://github.com/kishaningithub/hugo-creative-portfolio-theme.git
[submodule "landing_artist/themes/artist"]
	path = landing_artist/themes/artist
	url = https://github.com/digitalcraftsman/hugo-artists-theme
[submodule "dev_state_source/themes/creative"]
	path = dev_state_source/themes/creative
	url = https://github.com/kishaningithub/hugo-creative-portfolio-theme.git
[submodule "dev_state_source1/themes/introduction"]
	path = dev_state_source1/themes/introduction
	url = https://github.com/victoriadotdev/hugo-theme-introduction.git
